<div class="jumbotron jumbotron-fluid transparent mb-0" style="height: 70vh">
  <div class="container text-success p-3 h-100">
    <div class="row h-100">
      <div class="col my-auto">
        <h1 class="font-weight-bold text-center fresh">Fresh Logging !</h1>
      </div>
    </div>
  </div>
</div>

{{#each Posts}}
<div class="container-fluid transparent-black shadow-sm">
  <div class="row m-2">
    <div class="col-10">
      <div class="row p-3 bg-success">
        <h2><a href="" data-toggle="modal" data-target="#staticBackdrop">{{dataValues.title}}</a></h2>
      </div>
      <div class="row">
        <div class="col">
          <p class="text-light transparent-black p-4">{{dataValues.body}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text-light">{{dataValues.createdAt}}</p>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div style="height: 100%;">
        <img class="card-img-top profile" src="https://www.lakedistrict.gov.uk/__data/assets/image/0011/912953/The-Blog-header.png"
          alt="Card image cap" style="height: 100%; width: 100%;">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{dataValues.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row">
            <h3>{{dataValues.UserId}}</h3>
          </div>
        </div>

        <div class="container-fluid mb-4 p-2 pb-4 shadow-sm">
          <div class="row">
            <div class="col">
              <p style="word-wrap:break-word;">{{dataValues.body}}</p>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col">
              <p>Some Comment</p>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Comment</button>
      </div>
    </div>
  </div>
</div>
{{/each}}